table{
    margin-top: 40px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
th{
    background: var(--black);
    color: var(--grayMedium);
}
td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}